@model Alumno
@{
    ViewData["Title"] = "Confirme para eliminar alumno";
    Layout = "Simple";
}

@* Aqui va el html de nuestra vista *@
@* Aca podemos consumir los datos del modelo que se esta pasando a la vista *@
@* <h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre </h2> *@

<h1>@ViewData["Title"]</h1>

<section>
  <div class="alert alert-danger" role="alert">
    <strong>Desea Elimar El Curso @Model.Id - @Model.Nombre</strong>
  </div>
  <form method="post">
     <button type="submit" class="btn btn-primary" asp-controller="Alumno" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</button>
  </form>
  
</section>

